@theme {
  --color-primary-50: #f5f9ff;
  --color-primary-100: #ebf3fe;
  --color-primary-200: #d8e6fd;
  --color-primary-300: #b1cdfb;
  --color-primary-400: #89b4fa;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2f68c5;
  --color-primary-700: #234e94;
  --color-primary-800: #183462;
  --color-primary-900: #0c1a31;
  --color-primary-950: #060d19;
  --color-secondary-50: #f3fcf9;
  --color-secondary-100: #e7f8f2;
  --color-secondary-200: #cff1e6;
  --color-secondary-300: #9fe3cd;
  --color-secondary-400: #70d5b3;
  --color-secondary-500: #10b981;
  --color-secondary-600: #0d9467;
  --color-secondary-700: #0a6f4d;
  --color-secondary-800: #064a34;
  --color-secondary-900: #03251a;
  --color-secondary-950: #02120d;
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a3a3a3;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;
  --color-neutral-950: #0a0a0a;
  --color-semantic-success: #12823b;
  --color-semantic-warning: #ae5f05;
  --color-semantic-error: #dc2626;
  --color-semantic-info: #2563eb;
  --spacing-0: 4px;
  --spacing-1: 8px;
  --spacing-2: 12px;
  --spacing-3: 16px;
  --spacing-4: 20px;
  --spacing-5: 24px;
  --spacing-6: 32px;
  --spacing-7: 40px;
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 40px;
  --spacing-3xl: 48px;
  --border-radius-none: 0px;
  --border-radius-sm: 2px;
  --border-radius-md: 4px;
  --border-radius-lg: 8px;
  --border-radius-xl: 12px;
  --border-radius-2xl: 16px;
  --border-radius-full: 9999px;
  --font-primary: Inter;
  --font-secondary: system-ui;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3rem;
  --font-weight-thin: 100;
  --font-weight-extraLight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semiBold: 600;
  --font-weight-bold: 700;
  --font-weight-extraBold: 800;
  --font-weight-black: 900;
}